#add_user_form {
    position: relative;
    padding: 40px 40px 100px 40px;
    background: rgba(0, 0, 0, .1);
    color: rgb(182, 182, 182);
    font-family: sans-serif;
    max-width: 250px;
    margin: 20px;
    margin-top: 110px;
    box-shadow: rgba(34, 34, 34, 0.158) 2px 2px 10px;
    display: inline-block;
    vertical-align: top;
}
#add_user_form input {
    display: block;
    background: rgba(0, 0, 0, .1);
    padding: 10px 30px;
    color: #ddd;
    border: none;
}
#add_user_form input[type=checkbox] {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    margin-top: 10px;
}
#add_user_form input:focus {
    outline: 0;
}
#add_user_form input:last-child {
    margin-bottom: 15px;
}
#add_user_btn {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    min-width: 75%;
    text-align: center;
    font-weight: bold;
    color: #eee;
    background: rgba(0, 0, 0, .25);
    border: none;
    transition: all linear .5s;
    box-shadow: #222 0 0 0;
    padding: 15px 30px;
    cursor: pointer;
}
#add_user_btn:hover, #add_user_btn:active {
    box-shadow: #222 4px 4px 0;
}
#user_list {
    width: 400px;
    height: calc(100% - 140px);
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, .1);
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-top: 90px;
    overflow-y: scroll;
}
#modify_user_form {
    position: absolute;
    display: none;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
    font-family: sans-serif;
    background: #224;
    padding: 30px 40px 40px 40px;
    z-index: 4;
}

#modify_user_form_exit {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 1.1em;
    cursor: pointer;
    padding: 2px;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
}

#modify_user_btn {
    border: none;
    background: rgba(0,0,0,.4);
    transition: all ease .2s;
    color: #eee;
}

#modify_user_btn:hover, #modify_user_btn:active {
    background: rgba(0,0,0,.25);
}

#modify_user_info {
    text-align: center;
}
