{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block style %}
        <link rel="stylesheet" type="text/css" media="all" href={{ url_for('static', filename='dashboard.css') }} />
    {% endblock %}


{% block content %}
<div id="panels">
    {% if 'hello_panel' in panels %}
        <div class="base_panel">
            Hello
        </div>
    {% endif %}
    {% if 'manage_songs' in panels %}
        <div class="base_panel">
            Songs
        </div>
    {% endif %}
    {% if 'manage_users' in panels %}
        <a href='{{url_for('manage_users')}}'>
        <div class="base_panel" id="manage_users">
        Users
        </div></a>
    {% endif %}


</div>   
{% endblock %}