{% extends 'base.html' %}

{% block title %}Dupaaaa{% endblock %}
{% block style %}
        <link rel="stylesheet" type="text/css" media="all" href={{ url_for('static', filename='base.css') }} />
        <link rel="stylesheet" type="text/css" media="all" href={{ url_for('static', filename='login.css') }} />
    {% endblock %}

{% block content %}
    <form id="login_form">
        <div>
            <input type="text" placeholder="User"><span></span>
            <input type="password" placeholder="Password"><span></span>
            <input type="submit" value="Log in">
        </div>
    </form>
{% endblock %}