{% extends 'base.html' %}

{% block title %}Song Management Dashboard{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" media="all" href={{ url_for('static', filename='manage_songs.css') }} />
    <script type="text/javascript" src={{ url_for('static', filename='manage_songs.js') }} ></script>
{% endblock %}


{% block content %}

    <div id="id_search" class="panel">
        <p>Search song by id</p>
        <input type="number" id="id_input" placeholder="song id"><button id="id_bt">Search</button>
        <div id="id_result"></div>
    </div>

    <div id="change_cover" class="panel">
        <p>Change the cover</p>
        <input type="number" id="id_cover" placeholder="song id"><br>
        <input type="file" id="cover_file"><br>
        <button id="cover_bt">Change</button>
        <div id="cover_output"></div>
    </div>

    <div id="add_song" class="panel">
        <p>Add a new song</p>
        <input type="text", id="add_title" placeholder="song title"><br>
        <input type="text", id="add_artist" placeholder="artist"><br>
        <input type="text", id="add_album" placeholder="album"><br>
        <input type="text", id="add_genre" placeholder="genre"><br>
        <input type="number", id="add_year" placeholder="year of release"><br>
        <input type="file", id="song_file"><br>
        <button id="song_bt">Upload song</button>
        <div id="song_output"></div>
    </div>


{% endblock %}
